.breadcrumb {
    padding: 35px 0 0 0;
}

.breadcrumb__list {
    color: #606060;
    font-size: 12px;
    display: flex;
    text-transform: uppercase;
}

.breadcrumb__divider {
    margin: 0 4px;
}

.breadcrumb__point:hover {
    text-decoration: underline;
}
